<h1>New proposal</h1>

<%= form_for @proposal do |f| %>
  <p>
    <%= f.label :title, 'Nadpis' %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, 'Popis' %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Mam zaujem' %>
  </p>
<% end %>
